# Ejercicio 1
Utiliza el conjunto de datos adult.csv y ejecuta los códigos que se muestran en las siguientes capturas de pantalla. Luego responde las preguntas.

In [ ]:
import pandas as pd
import numpy as np
adult_df = pd.read_csv('adult.csv')
adult_df.set_index(np.arange(10000,42561),inplace=True)

print(adult_df.iloc[5:7,0:2])

print(adult_df.loc['10005':'10007','age':'fnlwgt'])

- Utiliza la salida para responder cuál es la diferencia en el comportamiento de .loc e .iloc cuando se trata de cortar.

- Sin ejecutar, pero solo mirando los datos, ¿cuál será la salida de adult_df.loc['10000':'10003', 'relationship':'sex']?

- Sin ejecutar, pero solo mirando los datos, ¿cuál será la salida de adult_df.iloc[0:3, 7:9]?

                                    RESPUESTAS
- Que loc, utiliza etiquetas e iloc utiliza posicion enteras
- El codigo mostraria la posicion 10000 hasta 10003 (filas) y luego mostraria las columnas relationsship hasta la sex
- El codigo mostrias la posicion 10000 hasta la 10002(mostraria 2 filas) y luego las columnas del indice 7 hasta el 8 (mostraria 2 columnas)

# Ejercicio 2
Para adult_df usa la función .groupby() para ejecutar el siguiente código y crear la serie de índices múltiples mlt_sr.

In [ ]:
import pandas as pd

adult_df = pd.read_csv('adult.csv')
mlt_seris =adult_df.groupby(['race','sex','income']).fnlwgt.mean()
mlt_seris

Ahora que has creado una serie de índices múltiples, ejecuta los siguientes códigos, estudia las salidas y responde las preguntas.

- Ejecuta el código a continuación primero y luego responde lo siguiente. Cuando usamos .iloc[] para una serie o DataFrame de índices múltiples, ¿qué deberíamos esperar?

In [ ]:
print(mlt_seris.iloc[0])
print(mlt_seris.iloc[1])
print(mlt_seris.iloc[2])

                                    RESPUESTA
- Que muestre los datos de las filas y columnas de los indices indicados

- Ejecuta el código a continuación primero y luego responde lo siguiente. Cuando usamos .loc[] para acceder a los datos de uno de los niveles de índice más internos de la serie de índices múltiples, ¿qué deberíamos esperar?

In [ ]:
mlt_seris.loc['Other']

                                    RESPUESTA
- Que nos muestres los datos, en este caso accedemos con la etiqueta de los grupos OTHER y asi nos muestra todo el contenido de ese grupo

- Ejecuta los códigos a continuación primero y luego responde lo siguiente. Cuando usamos .loc[] para acceder a los datos de uno de los niveles de índice no más internos de la serie de índices múltiples, ¿qué deberíamos esperar?

Cuando ejecutes cualquiera de las líneas de código a continuación, obtendrás un error y ese es el punto de esta pregunta. Estudia el error e intenta responder la pregunta.

                            RESPUESTA
- El error esta es que esta accediendo con una etiqueta unica de lo cual no existe en la serie, si colocamos las otras razas, como Black, White, si nos muestras los grupos

In [ ]:
mlt_seris.loc['Female']

In [ ]:
mlt_seris.loc['<=50K']

- Ejecuta los códigos a continuación primero y luego responde lo siguiente. ¿En qué se diferencia el uso de .loc[] o .iloc[] cuando se trabaja con una serie de índices múltiples o un DataFrame?

In [ ]:
print(mlt_seris.loc['Other']['Female']['<=50K'])
print(mlt_seris.iloc[12])

                                        RESPUESTAS
- Entra al grupo other y obtiene la media solicidato (etiqueta)
- Entra al indice 12 y obtiene la media solcidata (posicion)

# Ejercicio 3
Para este ejercicio, debe utilizar un nuevo conjunto de datos: billboard.csv. Visite https://www.billboard.com/charts/hot-100 y vea las clasificaciones de canciones más recientes del día. Este conjunto de datos presenta información y clasificación de 317 pistas de canciones en 80 columnas. Las primeras cuatro columnas son artista, pista, hora y date_e. Las primeras columnas son descripciones intuitivas de las pistas de canciones. La columna date_e muestra la fecha en que las canciones ingresaron a la lista hot-100. Las 76 columnas restantes son las clasificaciones de canciones al final de cada semana desde 'w1' hasta 'w76'. Descargue y lea este conjunto de datos con pandas y responda las siguientes preguntas.

In [ ]:
import pandas as pd
df = pd.read_csv('billboard.csv')

- Escribe una línea de código que te dé una gran idea de cuántos valores nulos tiene cada columna. Si hay alguna columna que no tenga valores no nulos, elimínala.

In [ ]:
print(df.isnull().sum())
df.drop(['artist', 'track', 'time', 'date_e','w1'], axis='columns', inplace=True)

In [ ]:
print(df.isnull().sum())

- Con un bucle for, dibuja y estudia los valores en cada una de las columnas W restantes.

In [ ]:
for c, dato in df.items():
    print("Columna:",c)
    print(dato)
    print("\n")

- El conjunto de datos está en formato ancho, usa una función apropiada para cambiar a un formato largo y nombra el dataframe fundido mlt_df.

In [ ]:
mlt_df= df.melt()
mlt_df

- Escribe un código que muestre mlt_df cada 1200 filas.

In [ ]:
x = 0
while x <= 23774:
    if x < 23774:        
        print(mlt_df.iloc[x])
        x = x + 1200        
    else:
        break

- Ejecuta el siguiente código primero y responde la pregunta. ¿Podrías haber hecho esto usando también el enmascaramiento booleano?

In [ ]:
mlt_df.query('artist == "Spears, Britney"')

¿Se podría haber hecho esto utilizando también el enmascaramiento booleano?

Answer:

- Utiliza el enfoque en e o la máscara booleana para extraer todas las canciones únicas que Britney Spears tiene en este conjunto de datos.

- En mlt_df muestra todas las semanas que la canción "Oops!.. I Did It Again" estuvo en el top-100

# Ejercicio 4

Para este ejercicio, utilizaremos LaqnData.csv. Cada fila de este conjunto de datos muestra un registro de medición por hora de uno de los cinco siguientes contaminantes del aire: NO, NO2, NOX, PM10 y PM2,5. Los datos se recopilaron en una ubicación de Londres durante todo el año 2017. Lea los datos con Pandas y realice las siguientes tareas.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

air_df = pd.read_csv('LaqnData.csv')
air_df

- El conjunto de datos tiene 6 columnas. Tres de ellas, llamadas 'Site','Units','Provisional or Ratified' no añaden ningún valor informativo, ya que son las mismas en todo el conjunto de datos. Utiliza el siguiente código para eliminarlas.

In [ ]:
air_df.drop(columns=['Site','Units','Provisional or Ratified'], inplace=True)

- El conjunto de datos está en formato largo. Aplica la función adecuada para cambiarlo al formato ancho. Nombra el DataFrame transformado, pvt_df.

In [ ]:
df_largo = pd.DataFrame(air_df)
print("DF Largo")
print(df_largo)
pvt_df = df_largo.pivot(index='Species',columns='ReadingDateTime', values='Value')
print("Data Frame Formato Ancho:\n") 
print(pvt_df)

- Dibuja y estudia el histograma y los diagramas de caja para las columnas de pvt_df.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(12,8))
for i, column in enumerate(pvt_df.columns):
    plt.subplot(2, 3, i + 1)
    sns.histplot(pvt_df[column], kde= True)
    plt.title(f'histograma de {column}')
    plt.xlabel(column)
    plt.ylabel('Fre')
plt.tight_layout()
plt.suptitle('Histograma de las columnas de pvt_df',y=1.02)
plt.show()

In [ ]:
fig, ax= plt.subplots()
plt.hist(pvt_df)
plt.show()

In [ ]:
print(pvt_df.head())
nan_cols = pvt_df.columns[pvt_df.isnull().all()].tolist()
print("columnas con todos los valores NaN: {}".format(nan_cols))
cols_to_plot = [col for col in pvt_df.columns if col not in nan_cols]
"""for col in pvt_df.columns:
    if col not in na_cols:
        cols_to_plot.append(col)"""
if cols_to_plot:
    plt.figure(figsize=(12, 8))
    for i, colum in enumerate(cols_to_plot):
        plt.subplot(2865, 3, i + 1)
        sns.histplot(pvt_df[column].dropna(), kde=True) 
        plt.title(f'Histograma de {column}')
        plt.xlabel(column)
        plt.ylabel('Frecuencia')
    plt.tight_layout()
    plt.suptitle('Histogramas de las columnas de pvt_df (sin columnas NaN)', y=1.02)
    plt.show()

In [ ]:
print("numeros de columnas:{}".format(len(cols_to_plot)))

# Ejercicio 5

Seguiremos trabajando con Law Data.csv.

- Ejecuta el siguiente código, observa su salida y luego estudia el código para responder qué hace cada línea de este código.

In [5]:
#1 Importa la libreria pandas para trabajar con DataFrames
import pandas as pd

#2 Cargar el DF desde el archivo CSV
air_df = pd.read_csv('LaqnData.csv')

#3 Eliminar las columnas: 'Site','Units','Provisional or Ratified' del DF, inplace= True modififa el df original directamente
air_df.drop(columns=['Site','Units','Provisional or Ratified'], inplace=True)

#4 Accede a la columna ReadingDateTime del DF, .str permite usar el metodos cadena con los elementos de la columna
#.split (' ',expand=True) divide cada cadena en la columna ReradingDateTime en dos partes, utilizando el espacio ' ' como separador
#expand= True crea un nuevo DF con estas dos partes como columnas separadas
#todo se guarda en un nuevo DF llamado datetime_df
datetime_df = air_df.ReadingDateTime.str.split(' ',expand=True)

#5 asigna los nombres 'Date','Time' a las dos columnas del DF datetime_df
datetime_df.columns = ['Date','Time']

#6 accede a la columna 'Date', .str.split('/',expand=True) divide cada cadena de fecha utilizando / como separador expandiendo el resultado
#en nuevas columnas de DF luego se guarda todo en un nuevo df llamado date_df
date_df = datetime_df.Date.str.split('/',expand=True)

#7 asigna los nombres 'Day','Month','Year' a las 3 columnas del df date_Df
date_df.columns = ['Day','Month','Year']

#8 air_df.join(date_df) une el DF original air_df con el DF date_df basado en los indices por defectos
#.join(datetime_df.Time) une el resultado anterior con la columna 'Time' del DF datetime_df
#.drop(columns=['ReadingDateTime','Year']) elimina las columnas 'ReadingDateTime', 'Year' que ha sido separada
#todo se guarda en el DF air_df las columnas nuevas y eliminadas 
air_df = air_df.join(date_df).join(datetime_df.Time).drop(columns=['ReadingDateTime','Year'])

air_df

      Species  Value Day Month   Time
0          NO    2.5  01    01  00:00
1          NO    1.9  01    01  01:00
2          NO    1.8  01    01  02:00
3          NO    0.9  01    01  03:00
4          NO    0.9  01    01  04:00
...       ...    ...  ..   ...    ...
43795    PM10   11.2  31    12  19:00
43796    PM10   11.5  31    12  20:00
43797    PM10   11.8  31    12  21:00
43798    PM10   11.3  31    12  22:00
43799    PM10   13.8  31    12  23:00

[43800 rows x 5 columns]

- Ejecuta el siguiente código, observa su salida y luego estudia el código para responder qué hace esta línea de código.

In [7]:
#se usa el metodo set_index, se le pasa una lista con los nombres de las columnas que se va 
#convertir en el nuevo indice, df se reorganiza estas 4 columnas nuevas se convierte en un MultiIndex
air_df = air_df.set_index(['Month','Day','Time','Species'])

#se ejecuta el df
air_df

                         Value
Month Day Time  Species
01    01  00:00 NO         2.5
          01:00 NO         1.9
          02:00 NO         1.8
          03:00 NO         0.9
          04:00 NO         0.9
...                        ...
12    31  19:00 PM10      11.2
          20:00 PM10      11.5
          21:00 PM10      11.8
          22:00 PM10      11.3
          23:00 PM10      13.8

[43800 rows x 1 columns]

- Ejecuta el siguiente código, observa su salida y luego estudia el código para responder qué hace esta línea de código.

In [9]:
#no entendi muy bien, pero lo que creo es que el metodo unstack() mueve un nivel del indice de fila a las columnas
#como se envia si argumente se desapila el nivel mas interno del indice de fila
air_df.unstack()

                Value
Species            NO   NO2   NOX    O3  PM10
Month Day Time
01    01  00:00   2.5  14.6  18.5  59.8  11.4
          01:00   1.9  17.3  20.2  53.6   8.9
          02:00   1.8  17.5  20.3  54.5   6.9
          03:00   0.9  17.3  18.7  57.5   5.6
          04:00   0.9  12.9  14.3  60.9   1.4
...               ...   ...   ...   ...   ...
12    31  19:00  10.4  47.4   NaN  32.1  11.2
          20:00  11.4  52.0   NaN  29.9  11.5
          21:00   9.4  48.2   NaN  30.1  11.8
          22:00   7.9  40.9   NaN  35.7  11.3
          23:00  10.0  42.8   NaN  34.9  13.8

[8760 rows x 5 columns]

- Compara la salida del código anterior con pvt_df del Ejercicio 4. ¿Son básicamente iguales?

tuve problema con el ejercicio 4, debido a la cantidad de filas, si me puede ayudar comprender el ejercicio 4 porfavor

- Explica cuáles son las diferencias y similitudes entre el par .melt()/.pivot() y el par .stack()/.unstack()?

ambos realizan transformaciones de formatos largo y anchos de DF, en el caso de .melt() transforma el DF de formato ancho a largo
en el metodo .pivot() trasnforma el DF de formato largo a ancho.
en el caso de .stack() transforma un DF de formato ancho a largo (apiola) las columnas en un nuevo nivel del indice de fila
ahora con .unstack() transforma un DF de larco a ancho (depilar) un nivel del indice de fila para convertirse en las nuevas columnas

- Si tuvieras que elegir una contraparte para .melt() entre .stack()/.unstack() ¿cuál elegirías?
.melt() va de ancho a largo
.stack() tambien va de ancho(columnas de variables implicitas) a largo (las variables se convierte en un nivel de indice )
.unstack(va de largo a ancho)